.local_video_directory_videomenu {
    list-style: none;
    padding: 0 0 2vw 10px;
    min-width: 460px;
}

.local_video_directory_video-table {
    padding-top: 3vw;
}

.local_video_directory_video-table tr td:first-child {
    white-space: nowrap;
}

.local_video_directory_action {
    white-space: nowrap;
}

.local_video_directory_existing_tags,
.local_video_directory_selected_tags {
    background-color: lightgrey;
    padding: 2px 7px;
    margin: 1vw;
    border-radius: 10px;
    border: 2px solid gray;
}

.local_video_directory_thumb {
    height: 3vw;
    display: block;
    margin: 0px auto;
    border: 3px solid teal;
    border-radius: 5px;
    max-width: 4vw;
}

.local_video_directory_thumb:hover {
    border-color: #37bfbf;
}

.local_video_directory_action_thumb {
    height: 2.2vw;
}

.local_video_directory_thumbselectorelement {
    display: inline-block;
    border: 1px solid gray;
    padding: 5px !important;
    border-radius: 8px;
    margin: 3px;
    width: 150px;
    height: 87px;
    vertical-align: top;
    box-sizing: content-box;
}

.local_video_directory_thumbselectorelement * {
    box-sizing: content-box;
}

.dir-ltr .buttons {
    margin-left: 10vw;
}

.dir-rtl .buttons {
    margin-right: 10vw;
}


#player {
    float: left;
    width: 50%;
    min-width: 450px;
}


.dir-rtl #player {
    float: right;
}

.length {
    width: 10px;
    margin: 5px;
}

input.hidden_input {
    width: 16vw;
    border: none;
    box-shadow: none;
    background: inherit;
}

input.hidden_input:focus,
input.hidden_input:hover {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: lightgrey;
}


.local_video_directory_video-player {
    margin: auto 1.5em;
    position: fixed;
    top: 12%;
    right: 20%;
    border: 1px solid;
    background-color: white;
    z-index: 5;
    width: 800px;
    max-width: 100%;
    height: 500px;
}


.local_video_directory_my-video,
.my-video {
    width: 100%;
    max-height: 95%;
}

.local_video_directory_videos ul {
    margin-left: 0;
    margin-right: 0;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.video-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 50px;
    color: #fff;
    opacity: .4;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
    color: #eee;
}

.video-thumbnail img {
    max-width:100px;
}

#video_table i {
    font-size: 30px;
}

.grey {
    color: grey;
}

.local_video_directory-intag-title {
    vertical-align: middle;
    margin: 10px;
}

.local_video_portal_thumb {
    height: 10vw;
    width: 14vw;
    margin: 1vw;
    position: relative;
}

.local_video_portal_name {
    position: relative;
    top: -45px;
    z-index: 1;
    background-color: white;
    text-align: center;
    width: 16vw;
    height: 1vw;
}

.local_video_portal_video {
    float: left;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    max-height: 16vw;
}

.local_video_portal_texts {
    float: left;
    width: 70%;
    padding-top: 10px;
}

.local_video_portal_search {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.local_video_directory_versions i {
    font-size: 30px;
}

#page-local-video_directory-list #messagemodal {
    direction: ltr;
    text-align: left;
}

.local_video_directory_backtolist {
    text-align: right;
}

.dir-rtl .local_video_directory_backtolist {
    text-align: left;
}

.local_video_directory_pagination {
    text-align: center;
    display: flow-root;
    width: 100%
}

.select2-container {
    width: 250px !important;
}

.rectangle {
    border: 1px dotted #FF0000;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255,255,255,0.5);
}

#video-controls {
    width: 640px;
	padding: 5px;
}

#video-controls button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#video-controls button:hover {
	cursor: pointer;
}

#video-controls #seek-bar {
	width: 300px;
}

#video-controls #volume-bar {
	width: 60px;
}

#video-controls #play-pause {
    width:70px;
}
#page-local-video_directory-list .ui-widget-content a {
    color: blue;
}

.video_menu_selected {
    font-weight: bolder;
    border: solid 2px;
    padding: 3px;
}

.video_float {
    float: left;
}

.video_embed {
    direction: ltr;
    float: left;
    width: 42%;
    padding-left: 20px;
    text-align: left;
}

.dir-rtl .video_embed h2 {
    text-align: right;
}

.local_video_menu_icons {
    font-size: x-large;
}

.brown, .brown[href]:hover {
    background-color: brown;
}

.local_video_directory_cats, .local_video_directory_cats[href]:hover {
    background-color: #77933c;
    color: white !important;
}

.local_video_directory_actions {
    min-width:215px;
}

.local_video_directory_categories .tag-info {
    background-color: #77933c;
    color: white !important;
}

.local_video_directory_categories_table span {
    background-color: #77933c;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3px;
    font-size: small;
    font-weight: bold;
}

.local_video_directory_categories span.form-autocomplete-downarrow,
.local_video_directory_categories span.text-nowrap {
    background-color: inherit;
    color: inherit;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

.local_video_directory_categories .tag span {
    padding: 0;
}

.dir-ltr .local_video_directory_cats_manage {
    padding-left: 28vw;
}

.dir-rtl .local_video_directory_cats_manage {
    padding-right: 28vw;
}