
<a href=upload.php?video_id={{id}}>{{#str}}upload_new_version, local_video_directory{{/str}}</a><br><br>

{{#versions}}
    <a href=versions.php?id={{id}}> {{#str}}versions, local_video_directory{{/str}} </a>
{{/versions}}

<video  width="655" controls preload="auto"
            poster="{{wwwroot}}/local/video_directory/thumb.php?id={{thumb}}">
            <source src="play.php?video_id={{id}}" type="video/mp4"">
</video>
{{#js}}
require(['jquery','local_video_directory/edit']);
{{/js}}
