<style>
html, body { overflow: hidden; background-color: transparent; }
</style>
<video id="videostream-{{videoid}}" class="video-js vjs-default-skin" data-setup='{}'  controlsList="nodownload"
        style="position: relative !important; width: 100% !important; height: 100% !important;" controls
        poster="{{wwwroot}}/local/video_directory/poster.php?id={{videoid}}"> 
    <source src='{{streamingurl}}/{{videoid}}.mp4'>
    <track label="English" kind="subtitles" srclang="en" 
        src="{{wwwroot}}/local/video_directory/subs.php?video_id={{videoid}}" default>
</video>

