<div id="tools" class="local_video_directory_tools">
    <button id="datatable_ajax_reload" class="btn btn-default"> {{#str}}reload, local_video_directory{{/str}}</button>
    <button id="datatable_ajax_clear_tags" class="btn btn-default"> {{#str}}show_all, local_video_directory{{/str}} </button>
    <div class="local_video_directory_existing_tags"> {{#str}}existing_tags, local_video_directory{{/str}}:
        <span class="tag_list hideoverlimit local_video_directory_videos">
            <ul class="inline-list">
                {{#alltags}}
                    <li>
                        <a href="{{wwwroot}}/local/video_directory/tag.php?action=add&tag={{url}}" class="label label-info ">+ {{name}} </a>
                    </li>
                {{/alltags}}

            </ul>
        </span>
    </div>

    {{#existvideotags}}
        <div class="local_video_directory_selected_tags">{{#str}}selected_tags, local_video_directory{{/str}}:
            <span class="tag_list hideoverlimit local_video_directory_videos">
                <ul class="inline-list">
                    {{#videotags}}
                    <li>
                        <a href=" {{wwwroot}}/local/video_directory/tag.php?action=remove&tag={{url}}" class="label label-info "> &times;{{name}}</a>
                    </li>
                    {{/videotags}}
                </ul>
            </span>
        </div>
    {{/existvideotags}}
</div>
<table id="video_table" class="local_video_directory_video-table display" cellspacing="0">
    <thead>
        <tr>
        {{#liststrings}}
            <th>{{.}}</th>
        {{/liststrings}}
        </tr>
    </thead>
    <tbody></tbody>
</table>

{{#js}}

require.config({catchError:true});
require(['jquery', 'jqueryui', 'datatables', 'core/ajax'], function($, jqueryui, datatables, ajax) {
    $(document).ready(function() {
        var table = $("#video_table").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                method: "POST",
                data : function ( d ) {
                    return JSON.stringify({"0" : {"index":0,"methodname":"local_video_directory_videolist","args" : {"data": JSON.stringify(d)}}});
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                "url": M.cfg.wwwroot + '/lib/ajax/service.php?sesskey=' + M.cfg.sesskey + '&info=local_video_directory_videolist',
                "dataSrc": function (d) {
                    var data = JSON.parse(d[0].data);
                    if (data.error) {
                        location.reload();
                        return;
                    }
                    if (typeof data[0] !== 'undefined') {
                        d.recordsTotal = data[0].total;
                        d.draw = 0;
                        d.recordsFiltered = data[0].total;
                    } else {
                        d.recordsTotal = 0;
                        d.draw = 0;
                        d.recordsFiltered = 0;
                    }
                    return data;
                }
            },
            "order": [[2, "desc"]],
            "columns": [
                {"data": "actions"},
                {"data": "thumb"},
                {"data": "id"},
                {"data": "name"},
                {"data": "orig_filename"},
                {"data": "length"},
                {"data": "convert_status"},
                {"data": "private"},
                {"data": "streaming_url"},
                {"data": "tags"}
            ],
            initComplete: function(){
                $('.showembed').click(function(e) {
                    e.preventDefault();
                    var html = '<iframe src="' + M.cfg.wwwroot + '/local/video_directory/embed.php?id=' 
                            + $(this).data('uniqid') + '" width="1280px" height="720px" frameBorder="0"></iframe>';
                    var streaming = M.cfg.wwwroot + '/local/video_directory/play.php?video_id=' + $(this).data('id');
                    var embed = M.cfg.wwwroot + '/local/video_directory/embed.php?id=' + $(this).data('uniqid')
                    $($('#messagemodal').length ? $('#messagemodal').text(html) :
                        '<div id="messagemodal">'
                            + '<br><br><p><b>Authenticated Streaming:</b></p>' + streaming
                            + '</div>').dialog({width: 650, height: 400});
                })
            }
        });

        $('#datatable_ajax_reload').click(function() {
            table.ajax.reload();
        });

        $('#datatable_ajax_clear_tags').click(function() {
            window.location = 'list.php';
        });

        $('#video_table').on('change', '.ajax_edit', function () {
            var data = this.id.split('_');
            var field = this.type == 'checkbox' ? 'private' : 'orig_filename';
            var id = data.pop();
            var status = this.type == 'checkbox' ? this.checked : null;
            var value = this.type == 'checkbox' ? null : this.value;
            var promises = ajax.call([
                { methodname: 'local_video_directory_edit', args: { videoid: id, field: field, value: value, status: status } }
            ]);
        });

        $('.play_video').click(function () {
            $("#video_player").show();
        });
    });
});

{{/js}}
