{{#js}}

require.config({catchError:true});
require(['jquery', 'jqueryui', 'datatables', 'core/ajax'], function($, jqueryui, datatables, ajax) {
    $(document).ready(function() {
        var table = $("#video_table").DataTable({
            "ajax": {
                method: "POST",
                data : function ( d ) {
                    return JSON.stringify({"0" : {"index":0,"methodname":"local_video_directory_list","args" : {"id": 0}}});
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                "url": M.cfg.wwwroot + '/lib/ajax/service.php?sesskey=' + M.cfg.sesskey + '&info=local_video_directory_list',
                "dataSrc": function (d) {
                    console.log(JSON.parse(d[0].data));
                    return JSON.parse(d[0].data);
                }
            },
            "order": [[2, "desc"]],
            "columns": [
                {"data": "actions"},
                {"data": "thumb"},
                {"data": "id"},
                {"data": "name"},
                {"data": "orig_filename"},
                {"data": "length"},
                {"data": "convert_status"},
                {"data": "private"},
                {"data": "streaming_url"},
                {"data": "tags"}
            ]
        });

        $('#datatable_ajax_reload').click(function() {
            table.ajax.reload();
        });

        $('#datatable_ajax_clear_tags').click(function() {
            window.location = 'list.php';
        });

        $('#video_table').on('change', '.ajax_edit', function () {
            var data = this.id.split('_');
            var field = this.type == 'checkbox' ? 'private' : 'orig_filename';
            var id = data.pop();
            var status = this.type == 'checkbox' ? this.checked : null;
            var value = this.type == 'checkbox' ? null : this.value;
            var promises = ajax.call([
                { methodname: 'local_video_directory_edit', args: { videoid: id, field: field, value: value, status: status } }
            ]);
        });

        $('.play_video').click(function () {
            $("#video_player").show();
        });
    });
});

var local_video_directory = {
    play: function(stream) {
        var video = document.getElementById('my-video'), source = document.createElement('source');
        document.getElementById('video_player').style.display = 'block';
        video.pause();
        source.setAttribute('src', stream);
        if (video.childElementCount == 1) {
            video.replaceChild(source,video.childNodes[0]);
        } else {
            video.appendChild(source);
        }

        video.load();
        video.play();
    },
    close_player: function() {
        event.preventDefault();
        document.getElementById('my-video').pause();
        document.getElementById('video_player').style.display = 'none';
    }
};

{{/js}}


<div id="tools" class="local_video_directory_tools">
    <button id="datatable_ajax_reload" class="btn btn-default"> {{#str}}reload, local_video_directory{{/str}}</button>
    <button id="datatable_ajax_clear_tags" class="btn btn-default"> {{#str}}show_all, local_video_directory{{/str}} </button>
    <div class="local_video_directory_existing_tags"> {{#str}}existing_tags, local_video_directory{{/str}}:
        <span class="tag_list hideoverlimit local_video_directory_videos">
            <ul class="inline-list">
                {{#alltags}}
                    <li>
                        <a href="{{wwwroot}}/local/video_directory/tag.php?action=add&tag={{url}}" class="label label-info ">+ {{name}} </a>
                    </li>
                {{/alltags}}

            </ul>
        </span>
    </div>

    {{#existvideotags}}
        <div class="local_video_directory_selected_tags">{{#str}}selected_tags, local_video_directory{{/str}}:
            <span class="tag_list hideoverlimit local_video_directory_videos">
                <ul class="inline-list">
                    {{#videotags}}
                    <li>
                        <a href=" {{wwwroot}}/local/video_directory/tag.php?action=remove&tag={{url}}" class="label label-info "> &times;{{name}}</a>
                    </li>
                    {{/videotags}}
                </ul>
            </span>
        </div>
    {{/existvideotags}}
</div>
<table id="video_table" class="local_video_directory_video-table display" cellspacing="0">
    <thead>
        <tr>
        {{#liststrings}}
            <th>{{.}}</th>
        {{/liststrings}}
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id='video_player' class="local_video_directory_video-player" style='display:none'>
    <a href=# class='close' onclick='local_video_directory.close_player();'>
        &times; {{#str}}close, local_video_directory{{/str}}
    </a>
    <br>

    <video id="my-video" class="local_video_directory_my-video" controls preload="auto"></video>

</div>
     

