<div class='local_video_directory_actions'>
<a href="delete.php?video_id={{id}}" title="{{#str}}delete{{/str}}" alt="{{#str}}delete{{/str}}">
    <i class="fa fa-eraser" aria-hidden="true"></i>
</a>
<a href="edit.php?video_id={{id}}" title="{{#str}}edit{{/str}}" alt="{{#str}}edit{{/str}}">
    <i class="fa fa-wrench" aria-hidden="true"></i>
</a>
<a href="thumbs.php?id={{id}}" title="{{#str}}clicktochangethumb, local_video_directory{{/str}}" 
                                 alt="{{#str}}clicktochangethumb, local_video_directory{{/str}}">
    <i class="fa fa-camera" aria-hidden="true"></i>
</a>
<a href="upload_subs.php?id={{id}}" title="{{#str}}upload_subs, local_video_directory{{/str}}"
                                      alt="{{#str}}upload_subs, local_video_directory{{/str}}">
    <i class="fa fa-align-center {{#nosubs}} grey{{/nosubs}}" aria-hidden="true"></i>
</a>
<a href="versions.php?id={{id}}" title="{{#str}}versions, local_video_directory{{/str}}" 
                                   alt="{{#str}}versions, local_video_directory{{/str}}">
    <i class="fa fa-clock-o {{#noversion}}grey{{/noversion}}" aria-hidden="true" ></i>
</a>
{{#embed}}
<a href="#" class="showembed" data-id="{{id}}" title="{{#str}}embed, local_video_directory{{/str}}"
                                 alt="{{#str}}embed, local_video_directory{{/str}}">
    <i class="fa fa-code" aria-hidden="true"></i>
</a>
{{/embed}}
{{#googlespeech}}
<a href="fulltext.php?video_id={{id}}" title="{{#str}}fulltext, local_video_directory{{/str}}"
                                 alt="{{#str}}fulltext, local_video_directory{{/str}}">
    <i class="fa fa-file-text {{#notext}} grey{{/notext}}" aria-hidden="true"></i>
</a>
{{/googlespeech}}
<a href="studio.php?video_id={{id}}" title="{{#str}}studio, local_video_directory{{/str}}"
                                 alt="{{#str}}studio, local_video_directory{{/str}}">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a>
</div>