<div class="alert alert-default alert-block" role="alert">
    {{#str}}freedisk, local_video_directory {{/str}}: {{{size}}}
    | <a href="portal.php" alt ="{{#str}}portal, local_video_directory {{/str}}">{{#str}}portal, local_video_directory {{/str}}</a>
    | <a href="list.php" alt ="{{#str}}list, local_video_directory {{/str}}">{{#str}}list, local_video_directory {{/str}}</a>
    {{#admin}}
    | <a href="../../admin/settings.php?section=local_video_directory" alt ="{{#str}}settings, moodle {{/str}}">
        {{#str}}settings, moodle{{/str}}
      </a>
    {{/admin}}
</div>


<ul id='local_video_directory_videomenu' class='nav nav-tabs' role="tablist">
{{#menu}}
    {{#selected}}
        <li id="selected"  class="nav-item">
        <a class="nav-link active" href="{{name}}.php">  {{str}}</a></li>
    {{/selected}}
    {{^selected}}
        <li class="nav-item" ><a class="nav-link" href="{{name}}.php">
        {{str}}</a></li>
    {{/selected}}
{{/menu}}
</ul>
<br>