<div class='local_video_directory_video-table'>
{{#videos}}
    <span class="local_video_portal_video">
        <img src="{{thumbnail}}" class="local_video_portal_thumb" data-video-url='{{streaming}}/{{id}}.mp4'>
        <div class="local_video_portal_name">
            {{orig_filename}}
        </div>
        <div class="local_video_portal_length">
            {{length}}
        </div>
    </span>
{{/videos}}
</div>
