<div class='local_video_directory_video-table'>
{{#videos}}
<article class="video">
  <figure>
        <img src="{{thumbnail}}" class="videoThumb" data-video-url='{{streaming}}/{{filename}}' data-id='{{id}}'>
  </figure>
  <h3 class="videoTitle">{{orig_filename}}</h3>
  <p>{{length}}</p>
</article>
{{/videos}}
</div>
