{{#player}}
<br>
<div class="local_video_direcotry_float_portal">
    <video  width="100%" controls preload="auto" autoplay
            poster="{{wwwroot}}/local/video_directory/poster.php?id={{player_id}}">
            <source src="{{player_streaming}}" type="video/mp4">
            <track label="English" kind="subtitles" srclang="en" src="{{wwwroot}}/local/video_directory/subs.php?video_id={{player_id}}" default>
    </video>
    <h2>{{player_title}}</h2>
</div>
{{/player}}
<div class='local_video_directory_video-table'>
{{#videos}}
<article class="video">
  <figure>
    <a href='?player={{uniqid}}&search={{search}}'>
        <img src="{{thumbnail}}" class="videoThumb">
    </a>
  </figure>
  <h3 class="videoTitle" title="{{orig_filename}}">{{{orig_filename}}}</h3>
  <p>{{length}}</p>
  {{#content}}
  {{#str}}result_content, local_video_directory{{/str}}
  {{/content}}
</article>
{{/videos}}
</div>
