<h1>{{#str}}versions,local_video_directory{{/str}}</h1>
<br><br>

<table width="500px">
    <tr>
        <th>{{#str}}date{{/str}}</th>
        <th>{{#str}}view{{/str}}</th>
        <th>{{#str}}restore{{/str}}</th>
    </tr>

    {{#lines}}
    <tr>
        <td>
            {{date}}
        </td>
        <td><img class="play_video action_thumb" onclick="local_video_directory.play('play.php?video_id={{file_id}}_{{datecreated}}')"
            src="pix/play.svg">
        </td>
        <td><a href="restore.php?id={{id}}&restore={{datecreated}}">
             <img class="play_video action_thumb" src="pix/synchronize.svg">
            </a>
        </td>
    </tr>
    {{/lines}}

</table>

<br><br><a href=upload.php?video_id={{id}}>{{#str}}upload_new_version, local_video_directory{{/str}}</a><br>

<div id='video_player' class="video-player" style='display:none'>
    <a href=# class='close' onclick='local_video_directory.close_player();'>
        {{#str}}close ,local_video_directory{{/str}}
    </a>
    <br>
    <video id="my-video" class="my-video" controls preload="auto"></video>
</div>