<h1>{{#str}}versions,local_video_directory{{/str}}</h1>
<br><br>

<table width="500px" class="local_video_directory_versions">
    <tr>
        <th>{{#str}}date{{/str}}</th>
        <th>{{#str}}view{{/str}}</th>
        <th>{{#str}}restore{{/str}}</th>
    </tr>

    {{#lines}}
    <tr>
        <td>
            {{date}}
        </td>
        <td>
        <span onclick="local_video_directory.play('{{streaming}}/{{file_id}}_{{datecreated}}.mp4')">
            <a href=#>
                <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </span>
        </td>
        <td><a href="restore.php?id={{file_id}}&restore={{datecreated}}">
            <i class="fa fa-undo" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    {{/lines}}

</table>

<br><br><a href=upload.php?video_id={{id}}>{{#str}}upload_new_version, local_video_directory{{/str}}</a><br>

<div id='video_player' class="local_video_directory_video-player" style='display:none'>
    <a href=# class='close' onclick='local_video_directory.close_player();'>
        {{#str}}close ,local_video_directory{{/str}}
    </a>
    <br>
    <video id="my-video" class="my-video" controls preload="auto"></video>
</div>