<div class="video_float">
    <video  width="655" controls preload="auto"
            poster="{{wwwroot}}/local/video_directory/thumb.php?id={{thumb}}">
            <source src="{{streaming}}" type="video/mp4"">
    </video>
</div>
